<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Guestbook</title>
</head>
<body>
    <h2 class="entry-title">Guestbook Entries</h2>
    <!-- Display flash messages -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash-messages">
                {% for message in messages %}
                    <li class="flash-message">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <h2 class="entry-title">Submit Your Entry</h2>
    <form class="entry-form" action="{{ url_for('index') }}" method="post">
        <label for="name" class="entry-label">Name:</label>
        <input type="text" id="name" name="name" class="entry-input" required><br>

        <label for="email" class="entry-label">Email:</label>
        <input type="email" id="email" name="email" class="entry-input" required><br>

        <label for="message" class="entry-label">Message:</label>
        <textarea id="message" name="message" class="entry-textarea" required></textarea><br>

        <input type="submit" value="Submit" class="submit-button">
    </form>
    <a href="{{ url_for('view_guestbook') }}" class="view-button">View Guestbook</a>
</body>
</html>
